<div class="brand-gradient">
	<div class="mx-5">
		<footer class="row row-cols-5 p-5 border-top">
			<div class="col">
				<a href="/" class="d-flex align-items-center mb-3 text-decoration-none text-light">
					Clouds Blaze
					<svg class="bi me-2" width="40" height="32">
						<use xlink:href="#bootstrap" />
					</svg>
				</a>
				<p class="text-light">&copy; 2010 - {% now "Y" %}</p>
				<p class="text-light">Privacy -Terms</p>
			</div>

			<div class="col">

			</div>

			<div class="col">
				<h5 class="text-light">Pages</h5>
				<ul class="nav flex-column ">
					<li class="nav-item mb-2"><a href="{% url 'home' %}"
							class="nav-link p-0 text-decoration-none text-light">Home</a>
					</li>
					<li class="nav-item mb-2"><a href="{% url 'service' %}"
							class="nav-link p-0 text-decoration-none text-light">Services</a>
					</li>
					<li class="nav-item mb-2"><a href="{% url 'contact-submit' %}"
							class="nav-link p-0 text-decoration-none text-light">Contact
							us</a>
					</li>
					<li class="nav-item mb-2"><a href="{% url 'aboutus' %}"
							class="nav-link p-0 text-decoration-none text-light">About
							us</a></li>
				</ul>
			</div>

			<div class="col">
				<h5 class="text-light">Services</h5>
				<ul class="nav flex-column">
					{% for d in data.service_catgories|slice:":5" %}
					<li class="nav-item mb-2"><a href="{% url 'service' %}"
							class="nav-link p-0 text-decoration-none text-light ">{{d.name}}</a>
					</li>
					{% endfor %}
				</ul>
			</div>

			<div class="col">
				<h5 class="text-light">Contact Us</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2"><a href="mailto:info@cloudsblaze.com"
							class="nav-link p-0 text-decoration-none text-light">info@cloudsblaze.com</a>
					</li>
					<li class="nav-item mb-2"><a href="https://wa.me/+923349935944"
							class="nav-link p-0 text-decoration-none text-light">Tel: +92
							334-993-5944</a>
					</li>
					<li class="nav-item mb-2"><a
							href="https://www.google.com/maps/place/Tricon+Marketing/@31.4351103,74.3223867,15z/data=!4m2!3m1!1s0x0:0xa33b53cfd8d58bf4?sa=X&ved=2ahUKEwjW7N_lgNOCAxUGT2wGHWcYNFwQ_BJ6BAhCEAA"
							target="_blank" class="nav-link p-0 text-decoration-none text-light">112/15 Quaid-e-Azam
							Boulevard,
							Quaid-e-Azam Industrial Estate, Lahore, Punjab 54000</a></li>
					<li class="nav-item mb-2"><a href="https://wa.me/+923349935944"
							class="nav-link p-0 text-decoration-none text-light">Tel: +971 56 783 2719</a>
					</li>
					<li class="nav-item mb-2"><a
							href="https://www.google.com/maps/search/Amer+Center+Frij+Al+Murar+Road,+Deira+Dubai,+UAE/@25.2729846,55.3117036,15z/data=!3m1!4b1?entry=ttu"
							target="_blank" class="nav-link p-0 text-decoration-none text-light">Office # 202, Zarooni
							Building, Amer Center Frij Al Murar Road, Deira Dubai, UAE</a></li>
				</ul>
			</div>
		</footer>
	</div>

</div>