<div class="brand-gradient">
	<div class="mx-5">
		<footer class="row row-cols-5 p-5 border-top">
			<div class="col">
				<a href="/" class="d-flex align-items-center mb-3 text-decoration-none text-light">
					Clouds Blaze
					<svg class="bi me-2" width="40" height="32">
						<use xlink:href="#bootstrap" />
					</svg>
				</a>
				<p class="text-light">&copy; 2010 - 2022</p>
				<p class="text-light">Privacy -Terms</p>
			</div>

			<div class="col">

			</div>

			<div class="col">
				<h5 class="text-light">Pages</h5>
				<ul class="nav flex-column ">
					<li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-decoration-none text-light">Home</a>
					</li>
					<li class="nav-item mb-2"><a href="/services"
							class="nav-link p-0 text-decoration-none text-light">Services</a>
					</li>
					<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-decoration-none text-light">Contact
							us</a>
					</li>
					<li class="nav-item mb-2"><a href="/about-us"
							class="nav-link p-0 text-decoration-none text-light">About
							us</a></li>
				</ul>
			</div>

			<div class="col">
				<h5 class="text-light">Services</h5>
				<ul class="nav flex-column">
					{% for d in data.service_catgories|slice:":5" %}
					<li class="nav-item mb-2"><a href="/"
							class="nav-link p-0 text-decoration-none text-light ">{{d.name}}</a>
					</li>
					{% endfor %}
				</ul>
			</div>

			<div class="col">
				<h5 class="text-light">Contact Us</h5>
				<ul class="nav flex-column ">
					<li class="nav-item mb-2"><a href="/"
							class="nav-link p-0 text-decoration-none text-light">sales@diginatives.io</a>
					</li>
					<li class="nav-item mb-2"><a href="/services"
							class="nav-link p-0 text-decoration-none text-light">career@diginatives.io</a>
					</li>
					<li class="nav-item mb-2"><a href="#"
							class="nav-link p-0 text-decoration-none text-light">info@diginatives.io</a>
					</li>
					<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-decoration-none text-light">+1 (714)
							820-9946</a>
					</li>
					<li class="nav-item mb-2"><a href="/about-us"
							class="nav-link p-0 text-decoration-none text-light">Suite 200, MainSt. Milpitas, CA 96035,
							USA</a></li>
				</ul>
			</div>
		</footer>
	</div>

</div>