{% load static%}
<script async src="{% static '/node_modules/@popperjs/core/dist/umd/popper.min.js' %}"></script>
<script async src="{% static '/node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<link href="{% static '/node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
<!-- <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> -->


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;900&display=swap" rel="stylesheet">
<meta name="google-site-verification" content="q4DZe4HVE7auRYeTWSRsyvfX63oiIQ1qrlwfbaDLTIM" />
<link href="{% static '/compiled_css/custom.min.css' %}" rel="stylesheet">
<link href="{% static '/css/main.css' %}" rel="stylesheet">
<link href="{% static '/css/macoding.pngin.css' %}" rel="stylesheet">

<meta name="google" content="nositelinkssearchbox">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description"
  content="Crafting innovative solutions tailored to your needs. Discover excellence in our services that redefine possibilities and deliver unparalleled value.">
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Organization",
  "url": "https://cloudsblaze.com/",
  "logo": "https://cloudsblaze.com/static/img/logo/logo_white.png",
  "name": "CloudsBlaze",
  "image": {
    "@type": "ImageObject",
    "url": "https://cloudsblaze.com/static/img/logo/logo_white.png",
    "height": "3654",
    "width": "4958"
  },
  "email": "info@cloudsblaze.com",
  "description": "Crafting innovative solutions tailored to your needs. Discover excellence in our services that redefine possibilities and deliver unparalleled value.",
  "address": {
    "@type": "PostalAddress",
    "addressCountry": "PK",
    "countryCode": "PK",
    "postalCode": "54000",
    "streetAddress": "112/15 Quaid-e-Azam Boulevard",
    "addressRegion": "Lahore, Punjab",
    "addressLocality": "Quaid-e-Azam Industrial Estate, Lahore, Punjab",
    "telephone": "Tel: +92 334-993-5944"
  },
  "telephone": "Tel: +92 334-993-5944",
  "brand": {
    "@type": "Organization"
  },
  "contactPoint": {
    "@type": "ContactPoint",
    "contactType": "customer support"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.5",
    "ratingCount": "99"
  },
 "areaServed": "IT Services",
  "foundingDate": "2010-01-01T00:00:00.000Z",
  "knowsLanguage": "",
  "subjectOf": {
    "@type": "CreativeWork"
  }
}
</script>

<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "WebSite",
      "name": "Clouds Blaze",
      "url": "https://cloudsblaze.com/",
      "description": "We pride ourselves on being your trusted partner in navigating the complex landscape of digital transformation"
    }
</script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "AggregateRating",
      "itemReviewed": {
        "@type": "Organization",
        "name": "CloudsBlaze",
        "logo": "https://cloudsblaze.com/static/img/logo/logo_white.png",
        "url": "https://cloudsblaze.com/static/img/logo/logo_white.png",
        "sameAs": "https://cloudsblaze.com/about-us",
        "location": ""
      },
      "ratingValue": "4.5",
      "ratingCount": "99",
      "reviewCount": "500,
      "bestRating": "4.3",
      "worstRating": "3"
    }
</script>
<script type="application/ld+json">
{
    "@context": "https://schema.org/",
    "@type": "LocalBusiness",
    "name": " CloudsBlaze",
    "address": {
    "@type": "PostalAddress",
    "postalCode": "54000",
    "streetAddress": "12/115",
    "postOfficeBoxNumber": "54000",
    "addressCountry": "PK",
    "addressRegion": "Pubjab",
    "addressLocality": "Quaid-e-Azam Industrial Estate",
    "telephone": "+923349935944"
    },
    "image": "https://cloudsblaze.com/static/img/frontend/pexels-anna-shvets-5325104.jpg",
    "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.5",
    "ratingCount": "99",
    "reviewCount": "500"
    },
    "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "validFrom": "",
    "opens": "01:00",
    "closes": "12:00",
    "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
    ]
    },
    "telephone": "+923349935944",
    "priceRange": "$$$$"
}
</script>
<title>Clouds Blaze</title>