{% load static %}
<nav class="navbar navbar-expand">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <div class="d-flex flex-row gap-2 align-items-center  ">
                <img src="{% static 'img/logo/logo-color.png' %}" alt="Logo" height="35"
                    class="d-inline-block align-text-top">
                <div class="d-flex flex-column">
                    <h2 class="fw-bold fs-4 logo-color mb-0" style="font-size: 1.8rem !important">CloudsBlaze</h2>
                    <span class="fw-1 fs-6 text-muted lh-1" style="font-size: 0.8rem !important">Innovate . Incubate
                        .
                        Intigrate</span>
                </div>
            </div>

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'service' %}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>

    </div>
</nav>