{% load static %}
<section class="py-5">
    <div class="container">
        <div class="row gx-4 gx-lg-5 align-items-between">
            <div class="col-md-6">
                <div>
                    <div class=""
                        style="color: #00B3A8; font-size: 20px; font-family: Anonymous Pro; font-weight: 700; text-transform: uppercase; line-height: 32px; letter-spacing: 1px; ">
                        Case studies
                    </div>
                    <h3 class="fw-medium">
                        Client Success Stories
                    </h3>
                </div>

            </div>
            <div class="col-md-6">
                <p class="lead">Discover the transformative impact we have had on top global brands like yours as we
                    craft
                    groundbreaking digital journeys that redefine the . Explore our client success stories to see
                    how we
                    turn challenges into success stories.</p>
                <div class="d-flex mt-2">
                    <a href="#" class="btn btn-primary flex-shrink-0">
                        All Case Studies
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>