{% load static %}
<section class="hero brand-gradient py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-2 text-light">
                <h1 class="display-4">Elevating Your Experience</h1>
                <p class="lead">Crafting innovative solutions tailored to your needs.</p>
                <p class="text-light">Discover excellence in our services that redefine possibilities and deliver
                    unparalleled value.</p>
                <a href="{% url 'contact-submit' %}" class="btn btn-secondary btn-lg mt-3">Contact Us</a>
            </div>
        </div>
    </div>
</section>