{% load static %}
<section id="services-section" class="py-5">
    <div class="container">
        {% for d in data.service_catgories %}
        <h2 class="section-heading text-center mb-5">{{ d.name }}</h2>
        <p>{{d.description}}</p>
        <div class="row">
            {% for sub_d in d.service_category %}
            <div class="col-lg-4 mb-4">
                <div class="card h-100 gradient-border-bg">
                    <div class="card-body">
                        <h3 class="card-title">{{sub_d.name}}</h3>
                        <p class="card-text">{{sub_d.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>