{% load static %}
<section class="py-5 mt-5 ">
    <div class="container">
        <div class="row gx-4 gx-lg-5 align-items-between">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 img-fluid h-100"
                    src="{% static '\img\frontend\section_img_1.png' %}" alt="..." /></div>
            <div class="col-md-6 gap-3">
                <div class=""
                    style="color: #00B3A8; font-size: 20px; font-family: Anonymous Pro; font-weight: 700; text-transform: uppercase; line-height: 32px; letter-spacing: 1px; ">
                    ABOUT US</div>
                <h3 class="fw-medium">Empowering Your Projects, Start to Finish.</h3>
                <p class="lead">Welcome to Clouds Blaze: Igniting, Innovation in the Digital Era, Cloud Blaze Stands
                    as Your Beacon, Guiding You through the Intricate Journey of IT transformation. Empower you
                    business with seemsless clouds services with efficient data management.</p>
                <div class="d-flex">
                    <button class="btn btn-primary flex-shrink-0" type="button">
                        Get to know us better
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>