{% load static%}
<section class="py-5">
    <div class="container">
        <div class="row gx-4 gx-lg-5 align-items-center justify-content-center gap-lg-0 gap-3">
            <div class="col-lg-6 col-12 text-lg-start text-center justify-content-center justify-content-lg-around">
                <div class="">
                    <div class="primary-heading-green">
                        Our Readings
                    </div>
                    <h3 class="primary-heading-second">
                        Empower your business with expert insights
                    </h3>
                </div>

            </div>
            <div class="col-lg-6 col-12 text-center text-lg-end ">
                <div class="row gap-lg-4">
                    <div class="col-lg-12 col-6 text-start">
                        <div class="d-flex mt-2 justify-content-lg-end ">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                Read more
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-12 col-6 justify-lg-content-end align-items-lg-end text-end">
                        <div class="d-flex mt-2 justify-content-end gap-5">
                            <div>News</div>
                            <div>Blogs</div>
                            <div>Events</div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card-group gap-5 py-5">
                    <div class="card rounded-0 border-0 align-items-center" style="background: none;">
                        <img src="{% static 'img\clients\blog (1).jpg' %}" class="card-img-top img-fluid h-100"
                            style="max-height: 15rem;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Navigating the Tech Landscape: Trends and Transformations</h5>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small>
                            </p>
                            <p class="card-text">As industries worldwide undergo digital transformation, embracing
                                cutting-edge technologies has become paramount. Artificial Intelligence (AI) is
                                revolutionizing decision-making processes, ...</p>
                        </div>

                    </div>
                    <div class="card rounded-0 border-0 align-items-center" style="background: none;">
                        <img src="{% static 'img\clients\blog (2).jpg' %}" class="card-img-top img-fluid h-100"
                            style="max-height: 15rem;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">The Cybersecurity Imperative: Safeguarding Digital Frontiers</h5>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small>
                            </p>
                            <p class="card-text">Cybersecurity has become a critical aspect of modern business
                                operations, with cyber threats evolving in complexity and sophistication. This blog
                                delves into the imperative need for organizations to adopt proactive cybersecurity
                                measures</p>
                        </div>

                    </div>
                    <div class="card rounded-0 border-0 align-items-center" style="background: none;">
                        <img src="{% static 'img\clients\blog (3).jpg' %}" class="card-img-top img-fluid h-100"
                            style="max-height: 15rem;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Revolutionizing Work: The Impact of Remote Technologies on IT</h5>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small>
                            </p>
                            <p class="card-text">Remote work has become a permanent feature of the modern workplace,
                                necessitating a paradigm shift in how businesses approach technology. This blog sheds
                                light on the technologies underpinning the remote work revolution</p>
                        </div>

                    </div>
                </div>

            </div>


        </div>

</section>