{% load static%}
<section class="py-5">
    <div class="container">
        <div class="row gx-4 gx-lg-5 align-items-between justify-content-center">
            <div class="col-6">
                <div class="w-50 ">
                    <div class=""
                        style="color: #00B3A8; font-size: 20px; font-family: Anonymous Pro; font-weight: 700; text-transform: uppercase; line-height: 32px; letter-spacing: 1px; ">
                        Our Readings
                    </div>
                    <h3 class="fw-medium ">
                        Empower your business with expert insights
                    </h3>
                </div>

            </div>
            <div class="col-6 text-end ">
                <div class="row gap-4">
                    <div class="col-12">
                        <div class="d-flex mt-2 justify-content-end">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                Read more
                            </button>
                        </div>
                    </div>
                    <div class="col-12 d-flex flex-row justify-content-end align-items-end">
                        <div class="d-flex mt-2 justify-content-end gap-5">
                            <div>News</div>
                            <div>Blogs</div>
                            <div>Events</div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card-group gap-5 py-5">
                    <div class="card rounded-0 border-0 align-items-center" style="background: none;">
                        <img src="{% static 'img\clients\blog (1).jpg' %}" class="card-img-top img-fluid"
                            style="max-height: 15rem;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small>
                            </p>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the card's content.</p>
                        </div>

                    </div>
                    <div class="card rounded-0 border-0 align-items-center" style="background: none;">
                        <img src="{% static 'img\clients\blog (2).jpg' %}" class="card-img-top img-fluid"
                            style="max-height: 15rem;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small>
                            </p>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the card's content.</p>
                        </div>

                    </div>
                    <div class="card rounded-0 border-0 align-items-center" style="background: none;">
                        <img src="{% static 'img\clients\blog (3).jpg' %}" class="card-img-top img-fluid"
                            style="max-height: 15rem;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small>
                            </p>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk
                                of the card's content.</p>
                        </div>

                    </div>
                </div>

            </div>


        </div>

</section>