{% load static %}
<section class="py-5">
    <div class="container">
        <div class="row gx-4 gx-lg-5 align-items-between">
            <div class="col-lg-5 col-12">
                <div>
                    <div class="primary-heading-green">
                        Case studies
                    </div>
                    <h3 class="primary-heading-second">
                        Client Success Stories
                    </h3>
                </div>

            </div>
            <div class="col-lg-7 col-12 ">
                <p class="lead">Discover the transformative impact we have had on top global brands like yours as we
                    craft
                    groundbreaking digital journeys that redefine the . Explore our client success stories to see
                    how we
                    turn challenges into success stories.</p>
                <div class="d-flex mt-2">
                    <a href="#" class="btn btn-primary flex-shrink-0">
                        All Case Studies
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>