{% load static %}
<div class="hero-section home-banner-img">
    <div class="d-flex flex-column justify-content-center text-center align-items-center gap-4" style="z-index: 100;">
        <h1 class="display-3 fw-bold text-center p-3 text-light">
            Where Innovation Meets <br>Technology
        </h1>
        <div class="h4 p-3 text-light text-break">
            We pride ourselves on being your trusted partner in navigating the <br> complex landscape of Digital
            Transformation
        </div>
        <a href="{% url 'contact_us' %}" title="Tell Us About Your Project" class="btn btn-primary text-light m-2">Tell
            Us
            About Your Project</a>
    </div>
</div>