{% load static %}
<section class="py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
            <div class="col p-0 m-0">
                <div class="card border-0 rounded-0 h-100">
                    <img src="{% static '.\img\clients\client (1).png' %}" class="card-img-top h-100 img-fluid"
                        alt="...">
                </div>
            </div>
            <div class="col p-0 m-0">
                <div class="card border-0 rounded-0 h-100">
                    <div class="card-body text-white " style="background-color: #00B3A8;">
                        <h5 class="card-title">
                            Custom Software Development
                        </h5>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <p class="card-text">At Clouds Blaze, we understand that every business is unique, and
                            off-the-shelf solutions may not always address your specific needs. That's where our
                            expertise in custom software development comes into play. With a commitment to innovation
                            and a passion for crafting tailored solutions, we empower businesses to thrive in the
                            digital era.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col p-0 m-0">
                <div class="card border-0 rounded-0 h-100">
                    <img src="{% static '.\img\clients\client (2).png' %}" class="card-img-top h-100 img-fluid"
                        alt="...">
                </div>
            </div>
            <div class="col p-0 m-0">
                <div class="card border-0 rounded-0 h-100">
                    <div class="card-body text-white " style="background-color: #00B3A8;">
                        <h5 class="card-title">Cybersecurity Enhancement</h5>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        <p class="card-text">Financial institution are concerned about the rising threat of cyber
                            attacks
                            and data breaches. The IT service provider conducts a comprehensive cybersecurity
                            assessment,
                            identifies vulnerabilities, and implements robust security measures. This includes the
                            installation of advanced firewalls, regular security audits, employee training programs, and
                            incident response planning. The enhanced cybersecurity measures ensure the protection of
                            sensitive financial data and maintain customer trust.</p>
                    </div>
                </div>
            </div>
            <div class="col p-0 m-0">
                <div class="card border-0 rounded-0 h-100">
                    <div class="card-body text-white " style="background-color: #00B3A8;">
                        <h5 class="card-title">Cloud Migration Strategy</h5>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        <p class="card-text">Manufacturing companies wants to modernize its IT infrastructure and move
                            to
                            the cloud for increased scalability and cost-effectiveness. The IT service provider develops
                            a
                            customized cloud migration strategy, including selecting appropriate cloud services, data
                            migration plans, and implementation of cloud security measures. The successful migration
                            results
                            in improved accessibility, reduced operational costs, and enhanced overall system
                            performance.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col p-0 m-0">
                <div class="card border-0 rounded-0 h-100">
                    <img src="{% static '.\img\clients\client (3).png' %}" class="card-img-top h-100 img-fluid"
                        alt="...">
                </div>
            </div>
            <div class="col p-0 m-0">

                <div class="card border-0 rounded-0 h-100">
                    <div class="card-body text-white " style="background-color: #00B3A8;">
                        <h5 class="card-title">
                            IT Infrastructure Optimization
                        </h5>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        <p class="card-text">Retail business are facing challenges with its outdated IT
                            infrastructure,
                            leading to frequent system downtimes and inefficiencies. The IT service provider conducts an
                            infrastructure assessment, recommends hardware and software upgrades, and implements a
                            strategic
                            plan for optimization. The optimized IT infrastructure results in increased system
                            reliability,
                            faster response times, and improved support for the client's growing business operations.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col p-0 m-0">
                <div class="card border-0 rounded-0 h-100">
                    <img src="{% static '.\img\clients\client (4).png' %}" class="card-img-top h-100 img-fluid"
                        alt="...">
                </div>
            </div>
        </div>
    </div>

</section>