.image-container {
    position: relative;
    width: 300px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
  }

.testimonial-quote blockquote p:first-child:before {
    content: '\201C';
    color: white;
    font-size: 15.5rem;
    font-weight: 700;
    opacity: .8;
    position: absolute;
    top: -.4em;
    left: -.2rem;
    text-shadow: none;
    z-index: -300;
}

.testimonial-quote {
    font-size: 16px;
}

.testimonial-quote blockquote {
    /* Negate theme styles */
    border: 0;
    margin: 0;
    padding: 0;

    background: none;
    font-family: Georgia, serif;

    margin: 0;
    position: relative;
    text-shadow: 0 1px white;
    z-index: 600;
}

.rhombus-container {
    width: 5rem; /* Adjust the width as needed */
    height: 5rem; /* Adjust the height as needed */
    /* margin: 50px; Adjust the margin as needed */
    overflow: hidden;
  }

.rhombus {
    width: 100%;
    height: 100%;
    background-color: #3498db; /* Adjust the background color as needed */
    transform: rotate(45deg);
    transform-origin: 50% 50%;
    position: relative;
  }

.map_background{
    background: url("../img/clients/world_map.png");
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #003348;
    --bs-btn-border-color: #003348;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #003348;
    --bs-btn-disabled-border-color: #003348;
    border-radius: 0px;
}

.hero-section{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0.46) 100%);
    background-size: cover;
    background-position: center;
    color: #fff; /* Text color on top of the background image */
    text-align: center;
    padding: 100px 0; /* Adjust the padding as needed */
    height: 100%;
}

.home-banner-img {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0.46) 100%),url('../img/banners/banner-home.jpg');
    background-size: cover;
    background-position: center;
    color: #fff; /* Text color on top of the background image */
    text-align: center;
    padding: 100px 0; /* Adjust the padding as needed */
    height: 100%;
}

.service-banner-img {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0.46) 100%), url('../img/banners/banner-service.jpg');
    background-size: cover;
    background-position: center;
    color: #fff; /* Text color on top of the background image */
    text-align: center;
    padding: 100px 0; /* Adjust the padding as needed */
    height: 100%;
}
}

/* .carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
  } */

/* .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 15%;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
} */