{% extends "base.html" %}

{% block title %}
Home Page
{% endblock%}


{% block main-content %}

{% include 'services/_partiales/hero_section.html' %}
{% include 'services/_partiales/about_us.html' %}
{% include 'services/_partiales/we_do.html' %}
{% include 'services/_partiales/key_features.html' %}
{% include 'services/_partiales/focus_industries.html' %}
{% include 'services/_partiales/choose_us.html' %}
{% include 'services/_partiales/how_we_do.html' %}
{% include 'services/_partiales/technologies.html' %}
{% include 'frontend/_partiales/testimonials.html' %}
{% include 'services/_partiales/case_study.html' %}
{% include 'services/_partiales/faqs.html' %}
{% include 'frontend/_partiales/partner_stories.html' %}
{% include 'frontend/_partiales/built_for.html' %}
{% endblock %}