{% load static%}
<section class="py-5">
    <div class="container">
        <div class="row gx-4 gx-lg-5 align-items-between justify-content-center">
            <div class="text-center p-5 w-50 ">
                <div class=""
                    style="color: #00B3A8; font-size: 20px; font-family: Anonymous Pro; font-weight: 700; text-transform: uppercase; line-height: 32px; letter-spacing: 1px; ">
                    TESTIMONIALS
                </div>
                <h3 class="fw-medium ">
                    Recommended by 97% of Our Customers
                </h3>
            </div>
            <div class="row">
                <div class="col-4">
                    <!-- <div class="rhombus-container">
                        <div class="rhombus">
                            <img src=".\img\clients\client (1).png" alt="Rhombus Image" class="image">
                        </div>
                    </div> -->
                </div>
                <div class="col-8">
                    <div class="testimonial-quote group p-5 rounded-5 " style="background-color: #E5F7F6;">
                        <div class="quote-container">
                            <blockquote>
                                <p>Zullion has greatly improved our team's efficiency. The user-friendly interface,
                                    real-time updates, and seamless collaboration tools make task management a
                                    breeze. While
                                    almost perfect, a few additional customization features would make it even
                                    better.
                                    Overall, a solid choice for streamlined project management.</p>
                            </blockquote>
                            <cite>Kenny Wallace | Vendor Tooling Engineer, Nissan North America
                            </cite>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</section>