{% load static %}
<div class="hero-section service-banner-img">
    <div class="d-flex flex-column justify-content-center text-center align-items-center gap-4" style="z-index: 100;">
        <h1 class="display-3 fw-bold text-center p-3 text-light">
            Discover Our Story: Pioneering Excellence in Technology
        </h1>
        <div class="h4 p-3 text-light text-break">
            Empowering IT Through a Journey of Innovation, Expertise, and Unwavering Commitment to
            Excellence
        </div>
        <a class="btn btn-primary text-light m-2">Tell Us About Your Project</a>
    </div>
</div>