{% load static %}
<section class="hero brand-gradient py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-2">
                <h1 class="display-4">About Us</h1>
                <p class="lead">Welcome to CloudsBlaze, where innovation meets excellence. We are a passionate
                    team dedicated to providing cutting-edge solutions tailored to your unique needs. Our commitment is
                    to deliver quality, reliability, and a seamless experience. Discover the story behind our success
                    and how we can make a difference for you.</p>
                <a href="{% url 'contact-submit' %}" class="btn btn-light btn-lg mt-3">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<section id="values-section" class="bg-light py-5">
    <div class="container">
        <h2 class="section-heading text-center mb-4">Our Values</h2>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100 gradient gradient-border-bg">
                    <div class="card-body">
                        <h3 class="card-title">Innovation</h3>
                        <p class="card-text">We thrive on pushing boundaries and embracing creative solutions.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 gradient gradient-border-bg">
                    <div class="card-body">
                        <h3 class="card-title">Integrity</h3>
                        <p class="card-text">Honesty and transparency are at the core of everything we do.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 gradient gradient-border-bg">
                    <div class="card-body">
                        <h3 class="card-title">Customer-Centric</h3>
                        <p class="card-text">Our focus is on understanding and exceeding customer expectations.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>