{% load static %}
<section class="py-5 mt-5 ">
    <div class="container">
        <div class="row gx-4 gx-lg-5 align-items-between">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                    src="{% static './img/frontend/section_img_1.png' %}" alt="..." /></div>
            <div class="col-md-6 d-flex">
                <h2 class="heading--text col-md-1">HISTORY</h2>
                <div class="col-md-11">

                    <h3 class=" m-0 px-3 py-2"><span class="text-dark fs-2 fw-semibold font-family-Poppins">Helping
                            progressive businesses build, evolve & scale since </span><span
                            class="fs-2 fw-semibold font-family-Poppins" style="color: #00B3A8;">2005</span></h3>
                    <p class="lead">We are a dynamic global technology services company leading digital transformation
                        and serving clients from SMEs to Fortune 100 firms in retail, CPG, and more.
                        We take immense pride in being recognized as trusted Google Cloud and Microsoft Solutions
                        Partners, cementing alliances that empower our clients with cutting-edge solutions and unmatched
                        expertise.</p>
                </div>
            </div>
        </div>
    </div>
</section>