{% load static %}
<section class="py-5 mt-5">
    <div class="container">
        <div class="row gx-4 gx-lg-5 align-items-between">
            <div class="col-lg-5 col-12"><img class="card-img-top mb-5 mb-md-0"
                    src="{% static './img/frontend/section_img_1.png' %}" alt="..." /></div>
            <div class="col-lg-7 col-12 gap-3">
                <div class="heading--text col-md-1 primary-heading-green">HISTORY</div>
                <h3 class="primary-heading-second">Helping
                    progressive businesses build, evolve & scale since<span style="color: #00B3A8;">2005</span></h3>
                <p class="lead">We are a dynamic global technology services company leading digital transformation
                    and serving clients from SMEs to Fortune 100 firms in retail, CPG, and more.
                    We take immense pride in being recognized as trusted Google Cloud and Microsoft Solutions
                    Partners, cementing alliances that empower our clients with cutting-edge solutions and unmatched
                    expertise.</p>
            </div>
        </div>
    </div>
</section>