{% load static %}
<section class="py-5 mt-5 ">
    <div class="container">
        <div class="row gx-4 gx-lg-5 align-items-between">
            <div class="col-md-6 d-flex">
                <h2 class="heading--text col-md-1">Mission</h2>
                <div class="col-md-11">

                    <h3 class=" m-0 px-3 py-2"><span class="text-dark fs-2 fw-semibold font-family-Poppins">Accelerating
                            Scalability & Growth for Global Businessess</span></h3>
                    <p class="lead">At the core of our mission lies empowering businesses with transformative technology
                        solutions. Through our proficiency in custom software development, Cloud Services, AI/ML/AL,
                        DevOps, and cybersecurity, we craft personalized solutions that propel growth, optimize
                        operations, and spur innovation.
                        By prioritizing our clients' needs, we consistently surpass expectations, enduring partnerships
                        grounded in trust and mutual collaboration.</p>
                </div>
            </div>
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                    src="{% static './img/frontend/section_img_1.png' %}" alt="..." /></div>

        </div>
    </div>
</section>