{% extends "base.html" %}

{% block title %}
Home Page
{% endblock%}


{% block main-content %}

{% include 'frontend/_partiales/hero_section.html' %}
{% include 'frontend/_partiales/best_clients.html' %}
{% include 'frontend/_partiales/about_us.html' %}
{% include 'frontend/_partiales/our_service.html' %}
{% include 'frontend/_partiales/case_study.html' %}
{% include 'frontend/_partiales/partner_stories.html' %}
{% include 'frontend/_partiales/tech_stack.html' %}
{% include 'frontend/_partiales/testimonials.html' %}
{% include 'frontend/_partiales/certifications.html' %}
{% include 'frontend/_partiales/blog_posts.html' %}
{% include 'frontend/_partiales/built_for.html' %}
{% endblock %}